.button {
  border-radius: 20px;
  border: 0;
  padding: 1rem;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button:hover {
  background: #ccc;
}
